<h1>Your Songbooks</h1>

<%= link_to "Upload New Songbook", new_songbook_path, :class => "btn btn-success pull-right"  %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Is Default?</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @songbooks.empty? %>
      <tr><td colspan="4">No songbooks uploaded yet!</td></tr>
    <% else %>
      <% @songbooks.each do |songbook| %>
        <tr>
          <td><%= link_to songbook.name, songbook_path(songbook) %></td>
          <td><%= songbook.default ? "Yes" : "No" %></td>
          <td><%= songbook.created_at %></td>
          <td>
            <%= link_to "Edit", edit_songbook_path(songbook) %> |
            <%= link_to "Delete", songbook, :confirm => 'Are you sure?', :method => :delete %>
            <% if songbook.default != true %>
              | <%= link_to "Set Default", set_default_songbook_path(songbook), :confirm => 'Are you sure?', :method => :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
