<h1><%= @songbook.name %> has <%= number_with_delimiter(@songbook.songs.count, :delimiter => ',') %> songs</h1>

<%= form_tag songbook_path(@songbook), :class => "form-search", :method => "get" do %>
  Search By: <%= select_tag "search_by", options_for_select([["Artist", "artist"], ["Title", "title"]], params[:search_by]) %>
  <div class="input-append">
    <%= text_field_tag :search, "", :class => "span4 search-query", :value => params[:search] %>
    <%= submit_tag "Search", :class => "btn", :name => nil %><br />
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr><td><%= song.artist %></td><td><%= song.title %></td></tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @songs, renderer: BootstrapPagination::Rails %>
